<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net35" />
  <package id="Costura.Fody" version="1.6.2" targetFramework="net35" developmentDependency="true" />
  <package id="Fody" version="2.1.2" targetFramework="net35" developmentDependency="true" />
  <package id="Heijden.Dns" version="2.0.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net35" />
  <package id="protobuf-net" version="2.4.0" targetFramework="net35" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net35" />
  <package id="TaskParallelLibrary" version="1.0.2856.0" targetFramework="net35" />
</packages>